# Exploring Salaries Based on the College Major

## Introduction

This project aims to explore the relationship between college majors and salaries. By analyzing data related to different college majors and their corresponding salaries, the insights into how educational choices impact earning potential are uncovered.

The data used in this project includes information about various college majors, groups, starting and mid-career median salary, etc.

## Import Libraries

In [33]:
import pandas as pd

## Load Dataset

Dataset contains 6 columns and 51 row. Each row includes major which group it belongs to, starting and mid-career salary, 10th and 90th percentile mid-career salary.

50th row shows NaNs that are dropped in clean_data dataframe

In [34]:
data = pd.read_csv("salaries_by_college_major.csv")
print(data.head())

     Undergraduate Major  Starting Median Salary  Mid-Career Median Salary
0             Accounting                 46000.0                   77100.0  \
1  Aerospace Engineering                 57700.0                  101000.0
2            Agriculture                 42600.0                   71900.0
3           Anthropology                 36800.0                   61500.0
4           Architecture                 41600.0                   76800.0

   Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary
0                            42200.0                           152000.0  \
1                            64300.0                           161000.0
2                            36300.0                           150000.0
3                            33800.0                           138000.0
4                            50600.0                           136000.0

      Group
0  Business
1      STEM
2  Business
3      HASS
4  Business

In [35]:
data.shape

(51, 6)

In [36]:
data.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [37]:
data.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [38]:
data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [39]:
clean_data = data.dropna()
clean_data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

### Finding Maximum Starting Salary. What college major is it?

In [40]:
# What is the maximum starting salary?
clean_data["Starting Median Salary"].max()

74300.0

In [41]:
# What is its index?
clean_data["Starting Median Salary"].idxmax()

43

In [42]:
# Find its major
clean_data["Undergraduate Major"].loc[43]

'Physician Assistant'

In [43]:
# Another way to find its major
clean_data["Undergraduate Major"][43]

'Physician Assistant'

In [44]:
# Find its all details
clean_data.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

### What college major has the highest mid-career salary? How much do graduates with this major earn?

In [45]:
mid_salary_max = clean_data["Mid-Career Median Salary"].max()
print(mid_salary_max)
clean_data["Mid-Career Median Salary"].idxmax()

107000.0

8

In [46]:
mid_salary_max_major = clean_data["Undergraduate Major"][8]
print(mid_salary_max_major)

Chemical Engineering

### Which college major has the lowest starting salary and how much do graduates earn after university?

In [47]:
min_salary = clean_data["Starting Median Salary"].min()
print(min_salary)
clean_data["Undergraduate Major"].loc[clean_data["Starting Median Salary"].idxmin()]

34000.0

'Spanish'

### Which college major has the lowest mid-career salary and how much is the expected salary?

In [48]:
clean_data.loc[clean_data["Mid-Career Median Salary"].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

## Sorting Values & Adding Columns: Majors with the Most Potential vs Lowest Risk

In [49]:
# clean_data["Mid-Career 90th Percentile Salary"] - clean_data["Mid-Career 10th Percentile Salary"]
salary_diff = clean_data["Mid-Career 90th Percentile Salary"].subtract(clean_data["Mid-Career 10th Percentile Salary"])
clean_data.insert(1, "Spread", salary_diff)
clean_data.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [50]:
# Sorting based on Spread column and selecting Undergraduate Major and Spread columns
low_risk = clean_data.sort_values("Spread")
low_risk[["Undergraduate Major", "Spread"]].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

### Find the degrees with the highest potential? Find the degrees with the greatest spread in salaries?

In [51]:
highest_potential = clean_data.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [52]:
high_risk = clean_data.sort_values("Spread", ascending=False)
high_risk[["Undergraduate Major", "Spread"]].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [56]:
high_risk_mid = clean_data.sort_values("Mid-Career Median Salary", ascending=False)
high_risk_mid[["Undergraduate Major", "Mid-Career Median Salary"]].head()

       Undergraduate Major  Mid-Career Median Salary
8     Chemical Engineering                  107000.0
12    Computer Engineering                  105000.0
19  Electrical Engineering                  103000.0
1    Aerospace Engineering                  101000.0
17               Economics                   98600.0

## Grouping and Pivoting Data with Pandas

In [61]:
group_counting = clean_data.groupby("Group").count()
group_counting

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [62]:
clean_data.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [64]:
group_average = clean_data.groupby("Group").mean(numeric_only=True)
group_average

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000

#### Print the numbers to look like an accounting type, eg. 1,212.12

In [66]:
pd.options.display.float_format = '{:,.2f}'.format
clean_data.groupby("Group").mean(numeric_only=True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"